.about-us-page {
    margin-top: 101px;
}

.about-us-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 72px;
    position: relative;
    width: 100%;
    padding: 32px 0;
}

.about-us-container.top {
    background: url('../images/about/top_bg.png') no-repeat center top;
    background-size: cover;
}

.about-us-container.middle {
    background: url('../images/about/bottom_bg.png') no-repeat center top;
    background-size: cover;
    min-height: 400px;
}

.about-us-container.bottom {
    background: url('../images/about/top_bg.png') no-repeat center top;
    background-size: cover;
}

.about-us-container .about-us-top-content {
    margin: 0 auto;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.about-us-container .about-us-bottom-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.about-us-container .about-us-bottom-content:nth-child(1) {
    flex-direction: row-reverse;
}

.about-us-container .about-us-top-image {
    margin: 0 auto;
    width: 50%;
}

.about-us-container .about-us-top-image img {
    width: 100%;
    height: 700px;
    object-fit: contain;
}

.about-us-container .about-us-bottom-content img {
    width: 50%;
}

.about-us-container .about-us-top-content-description {
    display: grid;
    grid-template-columns: 1fr .5fr;
    gap: 12px;
    justify-content: space-between;
    align-items: center;
    max-width: 50%;
    margin: 0 auto;
}

.about-us-container .about-us-top-content-description img {
    margin: 0 auto;
}

.about-us-container .about-us-top-content h2 {
    color: var(--color-highlight-dark);
    font-size: 72px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    text-align: center;
}

.about-us-container .about-us-top-content p {
    font-size: 16px;
    text-align: justify;
    margin: 0 auto;
    color: var(--color-body-gray);
}

.about-us-container .about-us-top-content-description p {
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    color: var(--color-body-gray);
    line-height: 1.5;
}

.about-us-container .about-us-bottom-content-description h4 {
    font-size: 64px;
    font-style: italic;
    background: linear-gradient(135deg, #DAA520, #FFD700, #B8860B);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.about-us-container .about-us-bottom-content:nth-child(2) h4 {
    text-align: right;
}

.about-us-container .about-us-bottom-content-description p {
    font-size: 18px;
    line-height: 1.5;
    color: var(--color-body-gray);
}

.about-us-container .about-us-bottom-content:nth-child(2) p {
    text-align: right;
}

.about-us-container .about-us-top-content p span {
    color: var(--color-highlight-dark);
}

.about-us-container .about-us-top-content-description p span {
    color: var(--color-highlight-dark);
}

@media (max-width: 1024px) {
    .about-us-container .about-us-top-content-description {
        grid-template-columns: 1fr;
    }

    .about-us-container .about-us-bottom-content-description p {
        font-size: 12px;
    }

    .about-us-container .about-us-bottom-content.rajesh {
        margin-bottom: 32px;
    }
}