.about-us-container {
    position: relative;
    background-color: var(--color-primary-dark);
}

.about-us-container:nth-child(2) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.about-us-container .about-us-bg {
    object-fit: cover;
    width: 100%;
    display: block;
}

.about-us-container .about-us-content {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
}

.about-us-container .about-us-content h2 {
    color: var(--color-highlight-dark);
    font-size: 72px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    margin-bottom: 48px;
    text-align: center;
}

.about-us-container .about-us-content p {
    font-size: 18px;
    text-align: center;
    margin: 0 auto;
    color: var(--color-body-gray);
}

.about-us-container .about-us-content p span {
    color: var(--color-highlight-dark);
}

.about-us-container .about-us-founder-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 200px;
}

.about-us-container .about-us-founder-container .about-us-founder-image {
    max-width: 85%;
}

.about-us-container .about-us-founder-container .about-us-founder-content {
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.about-us-container .about-us-founder-container .about-us-founder-content p {
    font-size: 18px;
    width: 20%;
    line-height: 1.5;
    color: var(--color-body-gray);
}

.about-us-container .about-us-founder-container .about-us-founder-content .about-us-founder-content-line {
    width: 1px;
    height: 160px;
    transform: rotate(15deg);
    margin: 0 48px;
    background-color: var(--color-body-gray);
}


.about-us-container .about-us-founder-container .about-us-founder-content p:nth-child(1) {
    text-align: right;
}

.about-us-container .about-us-founder-container .about-us-founder-content p:nth-child(2) {
    text-align: left;
}