.blogs {
    margin-top: 75px;
}

.blogs h2 {
    color: #000;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-style: italic;
}

.blogs-content-container {
    width: 100%;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10px;
}

.heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    position: relative;
}

.heading-container h2 {
    margin-bottom: 0px !important;
}

.heading-container a {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #000;
    font-size: 13px;
    text-decoration: none;
    gap: 5px;

    position: absolute;
    right: 0;
}

.heading-container a img {
    display: flex;
    justify-content: space-between;
    width: 20px;
}

.blogs-content-container .blog {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 18px;
    overflow: hidden;
    cursor: pointer;
}

.blogs-content-container .blog .image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.blogs-content-container .blog .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: scale ease 0.1s;
}

.blogs-content-container .blog:hover img {
    scale: 1.1;
}

.blogs-content-container .blog .date-container {
    position: absolute;
    background-color: var(--color-highlight-dark);
    font-weight: 700;
    padding: 8px 15px;
    left: 5%;
    top: 0;
    font-size: 12px;
}

.blogs-content-container .blog .blog-info {
    bottom: 0;
    width: 100%;
    background-image: linear-gradient(28deg, var(--color-primary-light) 0%, var(--color-primary-dark) 100%);

    color: #fff;
    padding: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 84px;
}

.blogs-content-container .blog .blog-info img {
    width: 20px;
    filter: invert(1);
}

.blogs-content-container .blog .blog-info p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Limit to 3 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 18px;

}