
.match-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 16px;
  padding: 15px 20px;
  gap: 2rem;
  background-color: #000;
  color: #fff;
  scale: 0.9;
  transition: 0.2s linear all;
}

.heading{
  font-style: italic;
  color: #fff;
  margin-bottom: 30px;
}

.swiper-slide-next .match-card{
  background-color: #fff;
  color: #000;
  scale: 1;
}

.button-purple{
  width: fit-content;
  padding: 5px 10px;
    background-color: var(--color-accent-light);
  border-radius: 5px;
  color: #fff;
}

.swiper-slide-next .match-card .button-purple{
  background-color: var(--color-primary-dark);

}

.match-header{
  width: 100%;
}

.match_no{
  display: flex;
  justify-content: space-between;
}

.match_no p{
  font-size: 16px;

}


 p.fs-12{
  font-size: 12px;
}
 p.fs-9{
  font-size: 9px;
}

.match-body{
  display: flex;
  gap: 20px;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;

}

.team img {
  width: 100px;
  height: auto;
  margin-bottom: 0.5rem;
}

.score-section {
  text-align: center;
  background-color: var(--color-highlight-dark);
  padding: 8px 15px;
  width: 89px;
  border-radius: 100px;
  color: #000;
}

.score {
  font-size: 21px;
  font-weight: bold;
  color: #000;
}

.status {
  font-size: 0.8rem;
  color: #eee;
  margin-top: 0.4rem;
}


