footer{
    background: var(--color-primary-dark);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 54px 0 20px;
    color: #fff;
}

.teams .image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
}

.teams .image-container img{
    width: 80px;
    aspect-ratio: 1;

    border-radius: 100%;
}

footer .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

footer .menu a{
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .logo img{
    width: 125px;
}

.copyright{
    font-size: 12px;
}

.social-media{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 30px;

}

.social-media img{
    width: 50px;
}

.privacy-content-container{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


.privacy-content-container .links{
    display: flex;
    gap: 10px;
    
}

.privacy-content-container a{
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}