.sponsers-container{
    background-color: var(--color-accent-light);
    padding: 50px 0;
    
}

.sponsers-container h2{
    text-align: center;
    color: #fff;
    font-style: italic;
    margin-bottom: 30px;
}

.sponsers-container .container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}