.sponsers-container{
    background-color: var(--color-accent-light);
    padding: 50px 0;
    
}

.sponsers-container .container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}