.teamsPage{
    margin-top: 101px;
}

.page-team-header{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 60px 0;
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}

.page-team-header .container{
    display: flex;
    justify-content: center;
}

.page-team-header img{
    width: 200px;
}

.page-team-header h2{
    font-size: 41px;
    color: var(--color-highlight-light);
    text-transform: uppercase;
    font-style: italic;
}

.teamsPage .team-container .container .teams{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1%;
    row-gap: 23px;
}

.teamsPage .team-container .container .teams .team-card{
    width: 22%;
}